/**********************************************
*** GENERAL
**********************************************/

* {
  margin: 0;
  padding: 0;
  border-sizing: border-box;
}

body{
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
  color: #555;
  height: 100vh;
  position: relative;
  overflow: auto;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/**********************************************
*** TOP
**********************************************/

.top {
    height: 50vh;
    background-image: url('budget.jpg');
    position: relative;
    background-size: cover;
    background-position: center;
}

.budget {
    font-size: 14px;
    padding: 4px;
    width: 50vw;
    position: absolute;
    left: 3vw;
    top: 9vh;
}

.budget_value {
  width: 90%;
  text-align: center;
  font-size: 2.5em;
  margin: 10% auto;
}

.budget_income, .budget_expenses {
  width: 40vw;
  vertical-align: middle;
  padding: 5px;
  margin: 5px;
  text-transform: uppercase;
  color: #fff;
  height: 30px;

}

.budget_income_text, .budget_expenses_text {
  width: 50%;
  float: left;
}
.budget_income {
  margin-top: 5%;
  background: #28B9B5;
}

.budget_income_amount, .budget_expenses_amount{
  padding-right: 2%;
  float: right;
}

.budget_expenses_amount {
  width: 50%;
}

.budget_expenses_value {
  float: left;
  margin-right: 2%;
}

.budget_expenses_percentage {
 font-size: 14px;
 text-align: right;
 float: right;
 margin-left: 1%;
 background: rgba(255, 255, 255, 0.2);
 border-radius: 0.3em;
}

.budget_expenses {
  background: #FF5049;
}


/**********************************************
*** BOTTOM
**********************************************/
.bottom {
  overflow: auto;
}

.add {
  background: #f7f7f7;
  border-bottom: 1px solid #e7e7e7;
  padding-top: 18px;
  padding-bottom: 19px;
  margin: 0 auto;
  vertical-align: middle;
}

.add_container {
  width: 90%;
  margin: 0 auto;
}

.select_options {
  padding: 6px;
  border: 1px solid green;
  margin: 0 12px 0 20px;
  border-radius: 0.3em;
  float: left;

}

input[type='text']{
  border: 1px solid orange;
  border-radius: 0.3em;
  text-align: center;
  float: left;
  margin-right: 12px
}

.add_description {
  width: 40%;
}

.add_value {
  width: 20%;
}

button {
  border: none;
  background: none;
  margin: 0;
}

ion-icon {
  font-size: 28px;
  color: green;
  padding-top: 2px;
  background: none;
  border: none;
}

.incomes, .expenses {
  margin: 20px 5% 0 5% ;
  width: 40%;
  text-transform: uppercase;
  float: left;
  text-align: center;
  margin-bottom: 50px;
}

.incomes h2 {
  color: #28B9B5;
}

.expenses h2 {
  color: #FF5049;
}

.income_item_description, .expense_item_description{
    float: left;
    padding: 5px;
    font-size: 15px;
    text-transform: none;
}

.right{
  float: right;

}

.income_item_value, .expense_item_value, .expense_item_percentage{
  float: left;
  padding: 5px;
  font-size: 15px;
}

.expense_item_percentage{
  color: #FF5049;
  background: #FFDAD9;
  border-radius: 0.3em;
  margin: 0 5px;
}

.income_item_delete, .expense_item_delete{
  float: right;
}

/**********************************************
*** MEDIA QUERIES
**********************************************/

@media only screen and (min-width: 501px){
  .select_options {
    margin-left: 14%;
  }
}

@media only screen and (min-width: 601px){
  .budget_expenses_amount {
    width: 40%;
  }
}

@media only screen and (min-width: 701px){
  .budget_expenses_amount {
    width: 35%;
  }
}

@media only screen and (min-width: 1250px){
  .top {
    position: relative;
  }

  .budget {
    position: aboslute;
    left: 6.7vw;
    top: 9vh;
  }

  .budget_value {
    margin: 5% auto;
    padding-right: 20%;
  }

  .budget_expenses_amount {
    width: 25%;
  }

  .budget_income, .budget_expenses {
    width: 35vw;
  }

  .select_options {
    margin-left: 15%;
  }

}
